.GameList{
    font-size: 15px;
    overflow-x:auto;
}

.GameWizard{
    margin: 20px 0 5px 0;
    overflow-x:auto;
}

input {
    margin: 0 5px;
    width: 80px;
    font-size: 12px;
}

button {
    font-size: 15px;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
    color:black
  }

  .link-button:disabled {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
    pointer-events:none;
    color:gray
  }