.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Navbar{
  border-bottom: "solid 1px";
  padding-bottom: "1rem";
  color:red;
}

form {
  border: 3px solid #f1f1f1;
}

label{
    font-weight: bolder;
    float: left;
    padding-top: 14px;
    padding-left: 14px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 10px 18px;
  margin: 12px;
  border: none;
  cursor: pointer;
  width: 100px;
}

button:disabled {
  background-color:gainsboro;
  color: white;
  padding: 10px 18px;
  margin: 12px;
  border: none;
  width: 100px;
  pointer-events:none
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

th{
  background-color: darkblue;
  color: white;
  font-weight: bolder;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: 100px;
  padding: 10px 18px;
  background-color: #f44336;
}

.signupbtn {
  width: 100px;
  padding: 10px 18px;
  background-color: blue;
}

/* Add padding to containers */
.container {
  padding: 16px;
  display: block;
  margin: 0 auto;
  align-items: center;
  width: 400px;
}

/* The "Forgot password" text */
span.signup {
  float: right;
  padding-top: 16px;
}

.error{
  color: red
}

.errormessage {
  width: 100%;
  background-color: red;
  border-radius: 20px;
  color: white;
  padding: 5px;
  font-size: "bolder";
}

.infomessage {
  width: 100%;
  background-color: darkblue;
  border-radius: 20px; 
  color: white;
  padding: 5px;
  font-size: "bolder";
}